<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantilla/template :: head">
</head>

<body>
	<header th:replace="plantilla/template :: header"></header>

	<div class="container">

		<div class="card bg-light">
			<div class="card-header bg-dark text-white" th:text="${titulo}"></div>
			<div class="card-body">

				<form th:action="@{/views/users/cambiaClaveAdmin}" th:object="${users}" method="post">

					<input type="hidden" th:field="*{id}">
					<input type="hidden" th:field="*{enabled}">
					
					<div class="form-group row">
						<label class="col-md-2" for="username">Username:</label>
						<input type="text"     th:field="*{username}"
							class="form-control form-control-sm col-md-6" id="username" placeholder="username">
					</div>
					<div class="form-group row">
						<label class="col-md-2" for="password">Password Nuevo:</label>
						<input type="password" th:field="*{password}" class="form-control form-control-sm col-md-6"
							id="passwordN" placeholder="password">
						<small class="form-text text-danger" th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}">
						</small>
					</div>
					<div class="card-footer bg-dark">
						<input type="submit" class="btn btn-primary btn-sm" value="Guardar">
					</div>

				</form>
			</div>
		</div>

	</div>

	<footer th:replace="plantilla/template :: footer"></footer>

</body>

</html>