<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/template :: head">
</head>
<body>
	<header th:replace="plantilla/template :: header"></header>

	<div class="container">		
		<h1 th:text="${titulo}"></h1>		
	</div>
	
	<div class="container"></div>
		
		<a class="btn btn-primary btn-sm" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/views/empresa/create}"
			th:text="'Nueva Empresa'" title="Crear Nueva Empresa">
		</a>
		
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Razon Social</th>
					<th scope="col">Nit</th>
					<th scope="col">Teléfono</th>
					<th scope="col">Correo</th>
					<th scope="col" sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')">Consultar</th>
					<th scope="col" sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')">Editar</th>
					<th scope="col" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="em:${empresa}">
					<th scope="row" th:text="${em.id}"></th>
					<td th:text="${em.razon_social}"></td>
					<td th:text="${em.nit}"></td>
					<td th:text="${em.telefono}"></td>
					<td th:text="${em.email}"></td>

					<td sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')">
						<a class="btn btn-success btn-sm"  th:href="@{/views/empresa/consultar/} + ${em.id}"
							th:text="'Consultar'" title="Consultar Registro">
						</a>
					</td>
					<td sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')">
						<a class="btn btn-warning btn-sm"  th:href="@{/views/empresa/edit/} + ${em.id}"
							th:text="'Editar'" title="Editar Registro">
						</a>
					</td>	
					<td sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">
						<a class="btn btn-danger btn-sm"  th:href="@{/views/empresa/delete/} + ${em.id}"
							th:text="'Eliminar'" title="Eliminar Registro"
							onclick="return confirm('Esta seguro de eliminar el registro?');">
						</a>
					</td>					
				</tr>
			</tbody>
		</table>


	</div>

	<footer th:replace="plantilla/template :: footer"></footer>

</body>
</html>