<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/template :: head">
</head>
<body>
<header th:replace="plantilla/template :: header"></header>

<div class="container">	
		<h1 th:text="${titulo}"></h1>
		</div>
		<div class="container">
		
			
	
	<table>
	   <table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Reg Municipio</th>
					<th scope="col">Id Municipio</th>
					<th scope="col">Descripcion</th>
					<th scope="col">Departamento</th>
					<th scope="col">Pais</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="mu:${municipios}">
					<th scope="row" th:text="${mu.reg_municipio}"></th>
					<td th:text="${mu.idmunicipio}"></td>
					<td th:text="${mu.descripcion}"></td>
					<td th:text="${mu.departamentos.descripcion}"></td>
					<td th:text="${mu.departamentos.paises.nombrepais}"></td>									
				</tr>
			</tbody>
		</table>
		</div>

	<footer th:replace="plantilla/template :: footer"></footer>


</body>
</html>