<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/template :: head">
</head>
<body>
<header th:replace="plantilla/template :: header"></header>

<div class="container">	
		<h1 th:text="${titulo}"></h1>
		</div>
		<div class="container">
		
			
	
	<table>
	   <table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Id Pais</th>
					<th scope="col">Nombre del País</th>
					<th scope="col">Estatus</th>
					<th scope="col" sec:authorize="hasAnyRole({'ROLE_ADMIN'})">Activar</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="pa:${pais}">
					<td scope="row" th:text="${pa.id}"></td>
					<td th:text="${pa.nombrepais}"></td>
					<td th:text="${pa.estatus}"></td>
					
					<td sec:authorize="hasAnyRole({'ROLE_ADMIN'})">
						<div th:switch="${pa.estatus}">
						<div th:case = false>
						<a class="btn btn-warning btn-sm"  th:href="@{/views/pais/edit/} + ${pa.id}"
						 th:text='Activar' title="Editar Registro">
						</a></div>
						<div th:case = true>
						<a class="btn btn-success btn-sm"  th:href="@{/views/pais/edit/} + ${pa.id}"
						 th:text='Desactivar' title="Editar Registro">
						</a></div>
						
						</div>
					</td>	
									
				</tr>
			</tbody>
		</table>
		</div>

	<footer th:replace="plantilla/template :: footer"></footer>


</body>
</html>